<a href="https://colab.research.google.com/github/drms-creator/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 세 수 중 가장 큰 수 찾기

In [5]:
# 문제 : 세 수 중 가장 큰 수 찾기
num1 = int(input("첫 번째 정수를 입력하세요: "))
print(f"첫 번째 수: {num1}")

num2 = int(input("두 번째 정수를 입력하세요: "))
print(f"두 번째 수: {num2}")

num3 = int(input("세 번째 정수를 입력하세요: "))
print(f"세 번째 수: {num3}")

max_num = num1 # 처음에는 num1이 가장 크다고 가정

if num2 > max_num:
  print(f"두 번째 수 {num2}가 현재 최댓값 {max_num}보다 큽니다. 최댓값을 업데이트합니다.")
  max_num = num2

else:
  print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")

if num3 > max_num:
  print(f"세 번째 수 {num3}가 현재 최댓값 {max_num}보다 큽니다. 최댓값을 업데이트합니다.")
  max_num = num3

else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")


print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 5
첫 번째 수: 5
두 번째 정수를 입력하세요: 6
두 번째 수: 6
세 번째 정수를 입력하세요: 7
세 번째 수: 7
두 번째 수 6가 현재 최댓값 5보다 큽니다. 최댓값을 업데이트합니다.
세 번째 수 7가 현재 최댓값 6보다 큽니다. 최댓값을 업데이트합니다.

입력하신 세 수 5, 6, 7 중에서 가장 큰 수는 7입니다.

In [19]:
num1, num2, num3 = map(int, input().split())
max_num = num1

if num2 > max_num:
  max_num = num2

if num3 > max_num:
  max_num = num3

print(f"\n가장 큰 수는 {max_num}입니다.")

4 5 6

가장 큰 수는 6입니다.

## if ~ elif vs if ~ if 구조의 주요 차이점
<br>1. 논리적 흐름의 차이

<br>if ~ elif: 첫 번째 조건이 거짓일 때만 elif 조건을 검사. 즉, 상호 배타적인 조건들.
<br>if ~ if: 각 if 문은 독립적으로 평가되며, 이전 조건의 결과와 관계없이 모든 if 문을 검사.

<br>2. 실행 경로

<br>if ~ elif: 여러 조건 중 참인 첫 번째 조건의 코드 블록만 실행.
<br>if ~ if: 조건이 참인 모든 if 문의 코드 블록이 실행.

In [39]:
try:
  num1, num2, num3 = map(int, input("세 정수를 띄어쓰기하여 입력하시오: ").split())
  max_num = num1

  if num2 > max_num:
    max_num = num2

  if num3 > max_num:
    max_num = num3

  print(f"가장 큰 수는 {max_num}입니다.")

except ValueError:
  print("유효한 정수를 입력하세요.")

세 정수를 띄어쓰기하여 입력하시오: 5 6 7
가장 큰 수는 7입니다.

# 학점 판별하기

In [24]:
score = int(input("시험 점수 (0~100)를 입력하세요: "))

if 0 <= score <= 100:

  if score >= 90:
    grade = 'A'

  elif score >= 80:
    grade = 'B'

  elif score >= 70:
    grade = 'C'

  elif score >= 60:
    grade = 'D'

  else:
    grade = 'F'

  print(f"당신의 학점은 {grade}입니다.")


else:

  print("점수는 0부터 100 사이의 값이어야 합니다.")

시험 점수 (0~100)를 입력하세요: 100
당신의 학점은 A입니다.

In [37]:
try:
  score = int(input("시험 점수 (0~100)를 입력하세요: "))
  if 0 <= score <= 100:

    if score >= 90:
      grade = 'A'

    elif score >= 80:
      grade = 'B'

    elif score >= 70:
      grade = 'C'

    elif score >= 60:
      grade = 'D'

    else:
      grade = 'F'

    print(f"당신의 학점은 {grade}입니다.")


  else:
    print("점수는 0부터 100 사이의 값이어야 합니다.")

except ValueError:
  print("유효한 정수를 입력하세요.")

시험 점수 (0~100)를 입력하세요: 100
당신의 학점은 A입니다.

# 윤년 판별하기

In [31]:
year = int(input("연도를 입력하세요: "))

if ((year%4 == 0) and (year%100 != 0)) or (year%400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요: 2027
2027년은 윤년이 아닙니다.

In [33]:
year = int(input("연도를 입력하세요: "))

if ((year%4 == 0) and (year%100 != 0)):
  print(f"{year}년은 윤년입니다.")
elif  year%400 == 0:
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요: 1600
1600년은 윤년입니다.

In [40]:
#code place 기준
year = int(input())

if ((year%4 == 0) and (year%100 != 0)):
  print("윤년")
elif  year%400 == 0:
  print("윤년")
else:
  print("평년")

2000
윤년

In [ ]:
# 식별자 에약어 식별자 식별자(숫자)
# i,j,k는 반복 변수로 많이 쓴다.
# for 변수 in 시퀀스:

In [42]:
for i in range(5):
  print(i)

0
1
2
3
4

In [44]:
for i in range(5):
  print(i+1)

1
2
3
4
5

In [45]:
for i in range(5):
  print("반복!", i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [48]:
for i in range(1, 6):
  print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [52]:
for i in range(1, 10, 2): #(start, end, step)
  print("반복!", i)

반복! 1
반복! 3
반복! 5
반복! 7
반복! 9

In [53]:
for i in [1,2,3,4,5]:
  print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

리스트에는 다양한 것들이 들어간다.
<br>
문자와 숫자 섞어서 들어갈 수도 있다.
<br>
fruits = ["apple", "banana", "cherry"]
<br>
fruits <- 리스트 변수
<br>
str = "Hello"
<br>
str 자체가 리스트가 될 수도 있다.

In [73]:
string = "Hello"
for i in string:
  print(i)

H
e
l
l
o

In [56]:
count = 0 # 반복에서 start를 의미
while count < 3: # 반복조건
  print("반복 중:", count)
  count += 1 # count(새로운 카운트 값) = count(현재 카운트 값) + 1 <- 업데이트
  # += : 축약 연산자

반복 중: 0
반복 중: 1
반복 중: 2

while문
<br>
start, stop, step 이 있어야 함

# 1부터 N까지의 합 계산하기

In [68]:
N = int(input("양의 정수 N을 입력하세요: "))
sum = 0
for i in range(1,N+1):
  sum += i
  print(f"{i}번 : 1부터 {N}까지의 합은 : {sum} 입니다.")

양의 정수 N을 입력하세요: 10
1번 : 1부터 10까지의 합은 : 1 입니다.
2번 : 1부터 10까지의 합은 : 3 입니다.
3번 : 1부터 10까지의 합은 : 6 입니다.
4번 : 1부터 10까지의 합은 : 10 입니다.
5번 : 1부터 10까지의 합은 : 15 입니다.
6번 : 1부터 10까지의 합은 : 21 입니다.
7번 : 1부터 10까지의 합은 : 28 입니다.
8번 : 1부터 10까지의 합은 : 36 입니다.
9번 : 1부터 10까지의 합은 : 45 입니다.
10번 : 1부터 10까지의 합은 : 55 입니다.

In [64]:
try:
  N = int(input("양의 정수 N을 입력하세요: "))
  if 1 <= N:
    sum = 0
    for i in range(1,N+1):
      sum += i
    print(sum)

  else:
    print("1 이상의 양의정수를 입력해주세요.")

except ValueError:
  print("유효한 값을 입력해주세요.")

400
80200

# 특정 조건까지 반복하기 (while 루프)

In [69]:
count = 0
print("0부터 9까지 출력: ")
while count < 10:
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [74]:
# for문으로 바꾸기
print("0부터 9까지 출력: ")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료

In [75]:
# for문으로 바꾸기
print("0부터 9까지 출력: ")
for i in range(0,10,1): # start, end, step
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료