<a href="https://colab.research.google.com/github/drms-creator/AIpython/blob/main/250411.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = '''이름: 함빛
나이: 20'''
print(s)

이름: 함빛
나이: 20

\n : 역슬래시 영문버전<br>
₩n : 역슬래시 한글버전<br>

In [2]:
s = '이름: 한빛\n나이: 20'
print(s)

이름: 한빛
나이: 20

In [3]:
s = '\'한빛\'아카데미'
print(s)

'한빛'아카데미

In [4]:
S = 'abc'
S[1]

'b'

In [5]:
S

'abc'

# print(end = "") 의 역할

In [8]:
S = 'abc'
for i in range(len(S)):
  print(S[i], end="")

abc

In [9]:
S = 'abc'
for i in range(len(S)):
  print(S[i])

a
b
c

In [10]:
# 리스트와 문자열 문법적으로 유사하게 생각

# 문자열 슬라이싱

In [11]:
# 인덱스 없이 문자에 접근
S = 'abcde'
S[2:4]

'cd'

# 실습 (주민등록번호)

In [17]:
# id = input("주민번호를 XXXXXX-XXXXXXX 형태로 입력하시오.")
id = '250411-3111111' # 문자열

if id[7] == '1' or id[7] == '3':
  print("남자")
elif id[7] == '2' or id[7] =='4':
  print("여자")
else:
  print("잘못된 주민등록번호입니다.")

남자

In [18]:
id = input("주민번호를 XXXXXX-XXXXXXX 형태로 입력하시오.")

if id[7] == '1' or id[7] == '3':
  print("남자")
elif id[7] == '2' or id[7] =='4':
  print("여자")
else:
  print("잘못된 주민등록번호입니다.")

주민번호를 XXXXXX-XXXXXXX 형태로 입력하시오.970223-2345678
여자

## 인덱스 없이 문자에 접근

In [19]:
S = 'abcde'
print(S[1:-2])

bc

## 입력받은 문자열을 s에 저장한 후 거꾸로 한 글자씩 출력해 보기

In [20]:
s = input('문자열: ')
for i in range(len(s)-1, -1, -1):
  print(s[i], end='')

문자열: 히라가나
나가라히

## 회문 판별하기

In [23]:
s1 = input('문자열: ')
s2 = ''

for i in range(len(s1)-1, -1, -1):
  s2 = s2 + s1[i]

if s1 == s2:
  print('회문')
else:
  print('회문 아님')

문자열: aba
회문

In [24]:
# 문자열 변수 = 문자열 객체 변수
# 문자열도 객체, 리스트도 객체

In [37]:
a = ['hello', 'python']
for i in a:
    for j in i:
        print(j)
    print()

h
e
l
l
o

p
y
t
h
o
n

In [29]:
s1 = "    Hi! python  "
s1.strip()

'Hi! python'

In [30]:
s1 = "....Hi! python...."
s1.strip('.')

'Hi! python'

In [31]:
s = '1234kg'
print(s.rstrip('kg'))

1234

In [32]:
s = '####studen_name'
print(s.lstrip('#'))

studen_name

In [33]:
# replace 는 2개의 값이 들어온다.
s = 'KAIST, 제주대, 홍익대'
print(s.replace('대', '대학교'))

KAIST, 제주대학교, 홍익대학교

In [38]:
s = 'KAIST, 제주대, 홍익대'
print(s.split(','))

['KAIST', ' 제주대', ' 홍익대']

In [41]:
l = ['KAIST', '제주대', '홍익대']
print(','.join(l)) # join() 메서드는 따로 떨어진 문자열을 다시 하나의 문자열로 만든다.

KAIST,제주대,홍익대

In [40]:
# 주소 -> 시, 구로 나누기
s = input("주소를 입력하세요. ex) '부산시 금정구': ")
print(s.split(" "))

주소를 입력하세요. ex) '부산시 금정구': 부산시 금정구
['부산시', '금정구']

In [45]:
# 조건문 만들 때 주로 쓰는 함수
print('1234kg'.isdigit())

False

In [46]:
print('python'.isalpha())

True

In [47]:
print('pass123'.isalnum())

True

In [49]:
print('python'.islower())

True

In [51]:
print('Python'.isupper())

False

In [52]:
print('.  '.isspace())

False

# 실습

사용자로부터 비밀번호를 입력하시오 라는 프롬프트<br>
문자와 숫자가 섞여있으면 통과<br>
그렇지 않을 경우 다시 입력 받도록 프로그래밍

In [53]:
num = input("비밀번호를 입력하시오: ")

if num.isalnum():
  print("통과")
else:
  print("다시 입력하시오")

비밀번호를 입력하시오: adsf1234
통과

In [58]:
while True:
  num = input("비밀번호를 입력하시오: ")

  if num.isalnum():
    print("통과")
    break
  else:
    print("다시 입력하시오")

비밀번호를 입력하시오: '';
다시 입력하시오
비밀번호를 입력하시오: 122
통과

In [59]:
num = input("비밀번호를 입력하시오: ")

has_letter = False
has_digit = False

for char in num:
    if char.isalpha():
        has_letter = True
    if char.isdigit():
        has_digit = True

if has_letter and has_digit:
    print("통과")
else:
    print("다시 입력하시오")

비밀번호를 입력하시오: 122222ㅓㅏㅣ
통과

# 리스트와 튜플은 값만 있음, 딕셔너리는 키와 값 둘 다 가지고 있음<br>
# 고유하다 = 누구나 다 가지고 있고, 중복되지 않는다.
# 딕셔너리에서는 키는 고유하고 값은 고유하지 않다.
# 딕셔너리를 만들 땐 중괄호 {} 를 쓴다.
# 딕셔너리는 키가 추가 된 리스트, 튜플도 리스트, 리스트도 리스트.

In [60]:
# 빈 딕셔너리 만들기
빈_딕셔너리 = {}
다른_빈_딕셔너리 = dict()

In [63]:
A = dict(이름 = '이영희', 나이 = 22, 학과 = '수의학과', 학점 = 4.0)

In [64]:
A

{'이름': '이영희', '나이': 22, '학과': '수의학과', '학점': 4.0}

In [66]:
# 키를 사용하여 값에 접근하기
이름 = A['이름']
이름

'이영희'

In [68]:
# get() 메서드 사용하기 (키가 없어도 에러가 발생하지 않음)
전화번호 = A.get("전화번호")

In [69]:
A.update({"나이": 22, "phone number": "010-2222-2222", "주소": "서울시"})

In [70]:
A

{'이름': '이영희',
 '나이': 22,
 '학과': '수의학과',
 '학점': 4.0,
 'phone number': '010-2222-2222',
 '주소': '서울시'}

In [72]:
all_keys = A.keys()
all_keys

dict_keys(['이름', '나이', '학과', '학점', 'phone number', '주소'])

In [73]:
all_values = A.values()
all_values

dict_values(['이영희', 22, '수의학과', 4.0, '010-2222-2222', '서울시'])

In [75]:
길이 = len(A)
길이

6

In [76]:
for key in A:
  print(key)

이름
나이
학과
학점
phone number
주소

In [77]:
for value in A.values():
  print(value)

이영희
22
수의학과
4.0
010-2222-2222
서울시

In [78]:
for key, value in A.items():
  print(f"{key} : {value}")

이름 : 이영희
나이 : 22
학과 : 수의학과
학점 : 4.0
phone number : 010-2222-2222
주소 : 서울시