<a href="https://colab.research.google.com/github/drms-creator/AIpython/blob/main/250404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 온도 변환기

In [5]:
# 플러스 예제 (3.5)
# 화씨온도 = 섭씨온도 x 9/5 + 32
# 제일 우선적인 연산과정 : 1. 괄호
# 2. 곱하기, 나누기
# 3. 더하기, 빼기
# celsius
# fahrenheit
# %: 문자열 포맷팅, %라는 연산자를 사용하여 값을 내가 원하는 방식으로 출력
# 변환 지정자 : %s, %d, %f
# 변환 지정자가 3개면 변수도 3개 나와야함! (갯수 동일)

name = "Alice"
age = 30
score = 95.5

print("이름: %s, 나이: %d, 점수: %f" %(name, age, score))

이름: Alice, 나이: 30, 점수: 95.500000

In [7]:
pi = 3.141592

print("원주율: %.2f" % pi) # 소수점 둘째 자리까지 출력 : 원주율 3.14
print("원주율: %10.2f" % pi) #전체 너비 10, 소수점 둘째 자리:
print("원주율: %010.2f" % pi) # 0을 채워서

원주율: 3.14
원주율:       3.14
원주율: 0000003.14

In [9]:
kind = input("온도 종류(섭씨 또는 화씨): ")
temp = int(input(kind + " 온도: "))

if kind == '섭씨':
  print(f"화씨 온도 {temp * 9/5 + 32 :.2f}")
else:
  print(f"섭씨 온도 {(temp - 32) * 5/9 :.2f}")

온도 종류(섭씨 또는 화씨): 화씨
화씨 온도: 68
섭씨 온도 20.00

In [10]:
kind = input("온도 종류(섭씨 또는 화씨): ")
temp = int(input(kind + " 온도: "))

if kind == '섭씨':
  celsius = temp * 9/5 + 32
  print("화씨 온도: %.2f" % celsius)
else:
  fahrenheit = (temp - 32) * 5/9
  print("섭씨 온도: %.2f" % fahrenheit)

온도 종류(섭씨 또는 화씨): 화씨
화씨 온도: 68
섭씨 온도: 20.00

# 숫자 맞히기 게임

In [11]:
# 내장 모듈 : 파이썬에 기본적으로 포함된 모듈입니다. (예: math, random)
# 외부 모듈 : 다른 사람들이 만들어서 공유하는 모듈입니다. (예: pandas, numpy)

In [20]:
# random : 난수 생성 모듈
# random.randint => random 안에 있는 함수 randint를 사용하겠다.
# random(): 0.0 이상 1.0 미만의 random한 실수를 반환
# randint(a, b): a 이상 b 이하의 랜덤한 정수 반환
# while True : 무한 반복

import random

print("1부터 100까지의 수 하나를 정했습니다.")
print("이 숫자를 맞혀보세요.")

answer = random.randint(1,100)
print("정답은",answer, "(릴리즈 시 삭제)")
times = 0

while True:
  user = int(input("1~100 숫자 입력: "))
  times += 1

  if user == answer:
    break
  elif user < answer:
    print(f"{user}보다 큽니다.")
  else:
    print(f"{user}보다 작습니다.")

print(f"정답입니다! {times}회 만에 맞혔습니다.")

1부터 100까지의 수 하나를 정했습니다.
이 숫자를 맞혀보세요.
정답은 97 (릴리즈 시 삭제)
1~100 숫자 입력: 70
70보다 큽니다.
1~100 숫자 입력: 90
90보다 큽니다.
1~100 숫자 입력: 96
96보다 큽니다.
1~100 숫자 입력: 99
99보다 작습니다.
1~100 숫자 입력: 97
정답입니다! 5회 만에 맞혔습니다.

In [ ]:
# 리스트를 만들면 자동적으로 위치 정보가 생김 (인덱스를 이용하여 지정)
# 리스트 명과 인덱스를 써서 아이템을 지정
# 인덱스 지정 시 대괄호 쓰기
# -1 : 제일 마지막 인덱스
# 0 : 제일 첫번째 인덱스

# 리스트 자르기 (슬라이싱)

In [23]:
nums = [0,1,2,3,4,5,6,7,8,9]
seg = nums[2:5]

처음부터 = nums[:4]
건너뛰기 = nums[::2]
역순 = nums[::-1]

# 리스트 수정하기

In [25]:
과일 = ["사과", "바나나", "딸기"]
과일.append("포도")
과일

['사과', '바나나', '딸기', '포도']

In [26]:
과일.extend(["망고", "수박"])
과일

['사과', '바나나', '딸기', '포도', '망고', '수박']

In [29]:
과일.insert(1, "오렌지")
과일

['사과', '오렌지', '오렌지', '바나나', '딸기', '포도', '망고', '수박']

In [32]:
import random

lotto_1 = []
# 1~45 숫자 중 6가지 숫자 뽑기

for i in range(6):
  lotto_1.append(random.randint(1,45))

lotto_1

# 위 코드는 lotto 번호가 중복될 가능성 있음

[15, 16, 39, 22, 13, 23]

In [34]:
lotto_2 = []

while len(lotto_2) < 6:
  num = random.randint(1,45)
  if num not in lotto_2:
    lotto_2.append(num)

print(lotto_2)

[33, 29, 26, 13, 10, 25]

# 리스트에서 항목 제거하기

In [39]:
# 함수
# 함수명(매개변수)

과일 = ['사과', '오렌지', '오렌지', '바나나', '딸기', '포도']

In [40]:
마지막_과일 = 과일.pop()
마지막_과일

'포도'

In [42]:
숫자 = [1,2,3,4,5]
길이 = len(숫자)
길이

5

# 메서드 vs 함수

메서드 (Method)

객체 지향 프로그래밍에서 사용됩니다<br>
클래스나 객체에 종속되어 있습니다<br>
객체의 상태(데이터)를 조작하거나 행동을 정의합니다<br>
호출 시 객체의 컨텍스트 내에서 실행됩니다 (보통 객체.메서드() 형태로 호출)<br>
this 또는 self 키워드로 자신이 속한 객체를 참조할 수 있습니다<br><br>

ex) 객체.method 형태 <br>
앞에 .이 있으면 무조건 메서드<br>
과일.pop(), .append()에서 과일이 객체, pop,append은 메서드


함수 (Function)<br><br>

독립적으로 존재합니다<br>
특정 객체에 종속되지 않습니다<br>
입력을 받아 처리하고 결과를 반환하는 코드 블록입니다<br>
전역 범위 또는 특정 스코프 내에서 직접 호출됩니다 (함수() 형태로 호출)<br>
자신이 속한 객체의 개념이 없습니다<br>

ex) len(), print(), sum()

In [44]:
숫자 = [3,1,5,1,3,5,6,9]

print(숫자.sort())

None

# sort() vs sorted()

sort는 원본을 정렬<br>
sorted는 원본을 바꾸지 않음

In [45]:
성적 = [85, 92, 78, 90, 87]
평균 = sum(성적) / len(성적)
평균

86.4

In [55]:
sum = 0
count = 0
for i in 성적:
  sum += int(i)
  count += 1

평균 = sum / count
평균

86.4

In [54]:
학생들 = [("철수")]

86.4

In [58]:
숫자들 = [1,2,2,3,4,4,5,5,5]
num_2 = 숫자들.count(2)
num_2

2

In [57]:
숫자들 = [1,2,2,3,4,4,5,5,5]
중복제거 = list(set(숫자들))
중복제거

[1, 2, 3, 4, 5]

# 문제 1

In [60]:
# 문제 1: 리스트 생성 및 요소 접근
fruits = ["사과", "바나나", "딸기", "포도"]
print(f"과일 리스트: {fruits}")

과일 리스트: ['사과', '바나나', '딸기', '포도']

In [65]:
print(f"첫번째 과일: {fruits[0]}")
print(f"마지막 과일: {fruits[-1]}")

첫번째 과일: 사과
마지막 과일: 포도

In [66]:
마지막_과일 = fruits.pop()

In [67]:
fruits.remove("바나나")

In [69]:
fruits

['사과', '딸기']

# 문제 3: 리스트 요소 순회하며 출력

In [70]:
numbers = [1, 5, 12, 8, 21]
print("숫자 리스트의 요소:")
for num in numbers:
  print(num)

숫자 리스트의 요소:
1
5
12
8
21